<div class="container mod-content mod-content--main">
  <% include included/header.ejs %>
  <% include included/standardContent.ejs %>
  <%
  var iTotal = projects.length;
  for(var i=0; i<iTotal; i++){
    var project = projects[i]; %>
    <article>
      <h1><%- project.title %></h1>
      <p><%- project.description %></p>
      <a href="<%- project.url %>">Lire plus</a>
      <%
      for(var j=0; j< project.images.length; j++){
        var image = project.images[j]; %>
        <img src="<%- image.path %>" alt="<%- image.title %>" />
      <%}%>
    </article>
  <%}%>
</div>
