<div class="mod-articles mod-articles--projects">
  <div class="mp-content mp-content--projectCategory">
    <% include included/standardContent.ejs %>
  </div>
  <div class="marts--items">
    <%
    var iTotal = projects.length;
    for(var i=0; i<iTotal; i++){
      var project = projects[i];
      var wrapperClass = project.images.length ? ' marts--push' : '' ; %>
      <article class="marts--item">
        <div class="marts--item-wrapper<%- wrapperClass %>">
          <a class="marts--title-link" href="<%- project.url %>">
            <h1 class="marts--item-title"><%- project.title %></h1>
          </a>
          <p>
            <%- project.description %>
            <a class="marts--item-more" href="<%- project.url %>" title="<%- ressources.current.readMore %>"><%- ressources.current.readMore %></a>
          </p>
        </div>
        <% if(project.images.length){%>
          <div class="marts--item-medias">
            <%
            for(var j=0; j< project.images.length; j++){
              var image = project.images[j]; %>
              <div class="marts--item-media">
                <a href="<%- project.url %>" title="<%- ressources.current.readMore %>">
                  <img src="<%- image.path %>" alt="<%- image.title %>" />
                </a>
              </div>
            <%}%>
          </div>
        <%}%>
      </article>
    <%}%>
  </div>
</div>
