<%
var isErrorPage = meta.isErrorPage();
%>
<footer class="mod-footer">
  <div class="container">
    <% if(!isErrorPage){%>
      <nav class="mf--navigation" role="navigation">
        <h1 class="sr-only"><%- ressources.footer.navigationTitle %></h1>
        <ul class="mf--links">
          <% for(var i=0; i<footerPages.length; i++) {
            var p = footerPages[i];
            var totalSubPages = p.subMenuPages.length;
            var linkClasses = p.isCurrent ? 'active' : '';
            %>
            <li>
              <a href="<%- p.url %>"<%- p.isCurrent ? ' class="active"' : '' %>><%- p.title %></a>
              <%
              for(var j=0; j<totalSubPages; j++){
                var sp = p.subMenuPages[j];%>
                <% if(j===0){%>
                  <ul>
                <%}%>
                  <li>
                    <a href="<%- sp.url %>"<%- sp.isCurrent ? ' class="active"' : '' %>><%- sp.title %></a>
                  </li>
                <% if(j===totalSubPages-1){%>
                  </ul>
                <%}%>
              <%}%>
            </li>
          <%}%>
        </ul>
      </nav>
    <%}%>
    <div class="mf--copyright">
      <% if(isErrorPage) {%>
        <p>Tout droits réservé. &copy; 2015</p>
      <%} else {%>
        <p><%- website.author %><span class="hidden"> </span><span class="iblock"><%- website.copyright %><span class="hidden"> </span></span><span class="iblock">Version <%- website.version %></span></p>
      <%}%>
    </div>
  </div>
</footer>
