<% if(lastEvents.length){%>
  <aside class="mod-aside mod-aside--last-events">
    <h1><%- ressources.lastEvents.title %></h1>
    <ul>
      <%
      for(var i = 0; i<lastEvents.length; i++){
        var event = lastEvents[i]; %>
        <li>
          <span class="ma--item-title"><%- event.date %></span><%- event.title %> <a href="<%- event.url %>" class="ma--more"><%- ressources.lastEvents.readMore %></a>
        </li>
      <%}%>
    </ul>
  </aside>
<%}%>
